:root {
  --primary-color: #0B81FF;
  --second-color: #FFFFFF;
  --three-color: #1a1a1a;
  --four-color: #060606;
  --five-color: #e2e2e2ba;
  /* --primary-color: #cfcfcfba;
  --second-color:  #FFFFFF;
  --three-color: #0B81FF;
  --four-color: #060606;
  --five-color: #1a1a1a; */
}