:root {
  --primary-color: #0B81FF;
  --second-color: #FFFFFF;
  --three-color: #1a1a1a;
  --four-color: #060606;
  --five-color: #e2e2e2ba;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--second-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--five-color);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}

.ql-font-sans-serif {
  font-family: 'sans-serif';
}